body {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  height: 520px;
}

header {
  margin-bottom: 72px;
}

main {
  width: 70%;
  margin: auto;
  font-size: 14px;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  text-align: center;
  margin-bottom: 32px;
  font-size: 48px;
}

h1 span {
  color: #FF9900;
  font-weight: bold;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #7D7987;
  margin-bottom: 32px;
  line-height: 28px;
}

p span {
  color: #FF9900;
}

footer {
  border-top: 1px solid #ECEFF2;
  padding-top: 25px;
  width: 70%;
  margin: 90px auto;
}

a {
  font-family: 'Open Sans', sans-serif;
  color: #FF9900;
  font-size: 14px;
}

footer a + a {
  margin-left: 28px;
}

.balls {
  position: fixed;
  bottom: 170px;
  right: 0px;
}